.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgb(255, 220, 177);
  width: 100vw;
}

h1 {
  font-family: "Great Vibes", Arial, sans-serif;
  font-size: 4rem;
  color: #511577;
}

.header-image {
  width: 6rem;
  height: auto;
}
